@model IList<Tournamin.web.Models.Group>
<div class="finales">
    <h1>
        Finaler</h1>
    <table>
        <tr>
            <th style="width: 12em;">
                Semifinaler
            </th>
            <th style="width: 8em;">
            </th>
            <th style="width: 13em;">
                Finale
            </th>
        </tr>
        <tr>
            <td class="finales-team">
                Vinner gruppe A
                <input type="text" class="score" />
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="finales-team">
                Nr 2 gruppe B
                <input type="text" class="score" />
            </td>
            <td style="border-top: solid 2px black">
            </td>
            <td style="border-left: solid 2px black; padding-left: 1em; border-top: 1px solid #aaa;border-right: 1px solid #aaa;border-bottom: 1px solid #aaa; background-color: #F9F9F9;">
                Vinner semifinale 1
                <input type="text" class="score" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="border-left: 2px solid black"></td>
        </tr>

        <tr>
            <td class="finales-team">
                Vinner gruppe A
                <input type="text" class="score" />
            </td>
            <td style="border-bottom: solid 2px black">
            </td>
            <td style="border-left: solid 2px black; padding-left: 1em; border-top: 1px solid #aaa;border-right: 1px solid #aaa;border-bottom: 1px solid #aaa; background-color: #F9F9F9;">
                Vinner semifinale 2
                <input type="text" class="score" />
            </td>
        </tr>
        <tr>
            <td class="finales-team">
                Nr 2 gruppe A
                <input type="text" class="score" />
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
@section scripts
{
    <script>
        
    </script>
}
